/* KEY: These styles are incomplete */
.ptagclass {
    background: gray;
    margin-right: 10%;
}

.secondParagraphclass  {
    background: blue;


.My_First_Jibberish_Post_class
{
    width: 500px;
    height: 100px;
    padding: 10px;
    border-style: dashed;
    border-spacing: 3px;
    horiz-align: center;


}
}